/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
body
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: #fff;
	margin: 45px;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
}

#content  
{
	width: 800px; 
	text-align: left; 
	margin: 0 auto;
} 

a {
  color: #483D8B;
}
a:link {
  text-decoration: none;
  color: #483D8B;
}
a:visited {
  text-decoration: none;
  color: #483D8B;
}
a:active {
  text-decoration: none;
  color: #483D8B;
}
a:hover {
  text-decoration: underline;
  color: #800000;
}

.underlinemenu ul li a:hover, .underlinemenu ul li a.selected
{
	border-bottom-color: black;
}

.underlinemenu
{
	font-weight: bold;
	width: 100%;
}

.underlinemenu ul
{
	padding: 6px 0 7px 0; /*6px should equal top padding of "ul li a" below, 7px should equal bottom padding + bottom border of "ul li a" below*/
	margin: 0;
	text-align: center;
}

.underlinemenu ul li
{
	display: inline;
}

.underlinemenu ul li a
{
	color: #494949;
	padding: 6px 3px 4px 3px; /*top padding is 6px, bottom padding is 4px*/
	margin-right: 20px; /*spacing between each menu link*/
	text-decoration: none;
	border-bottom: 3px solid gray; /*bottom border is 3px*/
}

.underlinemenu ul li a:hover, .underlinemenu ul li a.selected
{
	border-bottom-color: black;
}

#hor-minimalist-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: #fff;
	width: 800px;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-a th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-a td
{
	color: #669;
	padding: 9px 8px 0px 8px;
}

#hor-zebra
{
    font-size: 14px;
	text-align: left;
	width: 800px;
	border-collapse: collapse;
}
#hor-zebra th
{
	font-size: 16px;
	font-weight: bold;
	padding: 10px 8px;
	background: #e8edff; 
}
#hor-zebra td
{
	padding: 8px;
}
#hor-zebra .odd
{
	background: #e8edff; 
}
